<div class="content-wrapper-900">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/topics">Topics</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ topic?.title }}</li>
    </ol>
  </nav>
  <h2>{{ topic?.title }}</h2>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <button class="btn btn-primary mr-1" routerLink="new-set" type="button">+ New Set</button>
        <button class="btn btn-outline-primary mr-1" routerLink="study" type="button">Study</button>
        <div ngbDropdown class="d-inline-block float-right" display="dynamic" placement="bottom-right">
          <button ngbDropdownToggle class="btn btn-secondary" id="optionsDropdown">Options</button>
          <div ngbDropdownMenu aria-labelledby="optionsDropdown">
            <button ngbDropdownItem class="btn btn-secondary" type="button" (click)="onToggleView()">
              <i class="material-icons">{{ toggleViewIcon }}</i>
              {{ toggleViewBtnTxt }}
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="btn btn-secondary" routerLink="edit" type="button">
              <i class="material-icons">edit</i>
              Edit
            </button>
            <!-- <div class="dropdown-divider"></div> -->
            <button ngbDropdownItem class="btn btn-danger text-danger" type="button" (click)="openModal()">
              <i class="material-icons">delete</i>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isGridView" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
    <app-set-lite 
      *ngFor="let set of topic?.sets" 
      [set]="set">
    </app-set-lite>
  </div>
  <div class="table-responsive-xl" *ngIf="!isGridView">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th *ngFor="let attribute of topic?.setTemplate">
            {{ attribute.value }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let set of topic?.sets" [routerLink]="['set/' + set?.id]">
          <th>{{ set.name }}</th>
          <td *ngFor="let setAttribute of set?.attributes">
            {{ setAttribute.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>