.options-container {
  border: solid 1px lightgray;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 7px;
}

#topicsTitle {
  cursor: pointer;
}

.collapse-icon {
  position: relative;
  top: 5px;
}

#questionLimit {
  max-width: 100px;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
}

.alert.alert-danger {
  margin-top: 0.5em;
}

.rotate-180 {
  transform: rotate(180deg);
}