<div class="options-container">
  <h4>Test Options</h4>
  <form (ngSubmit)=onSubmit() #configForm="ngForm">
    <fieldset class="form-group">
      <h6 class="mb-2">Question Types</h6>
      <div class="custom-control custom-checkbox">
        <input [(ngModel)]="testConfig.includeMultipleChoice" 
          type="checkbox" 
          class="custom-control-input" 
          name="questionTypes" 
          id="multiChoiceCheck">
        <label for="multiChoiceCheck" class="custom-control-label">Multiple Choice</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input [(ngModel)]="testConfig.includeShortAnswer"  
          type="checkbox" 
          class="custom-control-input" 
          name="questionTypes" 
          id="shortAnswerCheck">
        <label for="shortAnswerCheck" class="custom-control-label">Short Answer</label>
      </div>
      <div *ngIf="showQuestionTypesError" class="alert alert-danger" role="alert">
        You need to select at least one type of question
      </div>
    </fieldset>
    <div class="form-group submit-btn-container mb-0">
      <button type="submit" class="btn btn-primary">Begin Test</button>
    </div>
  </form>
</div>