<div class="card" #card>
  <div class="card-header">
    <span class="badge badge-light">{{id + 1}}</span>
    <i class="material-icons drag-icon float-right" cdkDragHandle>drag_handle</i>
  </div>
  <div class="card-body">
    <div class="input-group">
      <input 
        [(ngModel)]="attribute" 
        type="text" 
        class="form-control" 
        placeholder="Enter attribute" 
        (change)="onChange(attribute)" 
        (touch)="onTouched()"
        required>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-danger" (click)=onDelete()><i class="material-icons">delete</i></button>
      </div>
    </div>
  </div>
</div>