.btn.btn-outline-danger {
  line-height: 1;
  padding: 0 0.5rem;
}

.card {
  cursor: default;
  overflow: hidden;
  // animation: fadein 0.5s;
  // transition: all 0.5s;

  .card-header {
    padding: 0 0.5rem;
  }

  .drag-icon {
    cursor: grab;
    user-select: none;

    &:active {
      cursor: grabbing;
    }
  }
}

.fadeout {
  opacity: 0;
  transform: scale(0.95);
}

@keyframes fadein {
  0% {
    opacity: 0;
    height: 0;
    transform: scale(0.9);
  }
  
  100% {
    opacity: 1;
    height: 105px;
    transform: scale(1);
  }
}