<div class="table-responsive-xl">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th *ngFor="let attribute of topic?.setTemplate">
          {{ attribute.value }}
        </th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="isPreview; else showFull">
        <tr *ngFor="let set of topic?.sets; let i = index">
          <th>{{ set.name }}</th>
          <td *ngFor="let setAttribute of set?.attributes">
            {{ setAttribute.value }}
          </td>
          <td>{{ tags[i] }}</td>
        </tr>
      </ng-container>
      <ng-template #showFull>
        <tr *ngFor="let set of topic?.sets; let i = index" [routerLink]="['set/' + set?.id]">
          <th>{{ set.name }}</th>
          <td *ngFor="let setAttribute of set?.attributes">
            {{ setAttribute.value }}
          </td>
          <td>{{ tags[i] }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>