// @import 'src/scss-partials/mixins';
// @import 'src/scss-partials/fonts';
// @import 'src/scss-partials/variables';
$animation-speed: 2s;
.login {
  &-container {
    max-width: 400px;
    margin: auto;
  }
  
  &-body {
    animation: growAndFadeIn $animation-speed;
  }

  &-header {
    position: relative;
    z-index: 0;
    padding: 1em;
    // margin-top: 10vh;
    // overflow-x: hidden;
    overflow-y: visible;
    text-align: center;
  
    &-image {
      z-index: 0;
      position: relative;
      margin: auto;
      padding: 1em;
      // height: 150px;
      width: 90vw;
      max-width: 300px;
      animation: floatDown $animation-speed cubic-bezier(.05,.05,.05,1);
    }
    
    h1 {
      // @include gradientTextDefault;
      // font-family: $icon-font;
    }
    h1,h2 {
      animation: welcome $animation-speed;
      // text-align: left;
      position: relative;
      z-index: 2;
    }
  }
}



form {
  position: relative;
  input {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}

.btn-login {
  margin-top: 3em;
  width: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
  // @include gradientTextDefault;
}

.forgot-pass-container {
  text-align: center;
}

.sign-up-container {
  text-align: center;
}



@keyframes floatDown {
  0% {
    transform: translateY(-100%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes welcome {
  0%, 40% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes growAndFadeIn {
  0%, 40% {
    transform: scale(0.9);
    opacity: 0;
  }
}