// @import 'src/scss-partials/mixins';
// @import 'src/scss-partials/fonts';
// @import 'src/scss-partials/variables';
$animation-speed: 2s;
.login {
  &-container {
    max-width: 400px;
    margin: auto;
  }
  
  &-body {
  }

  &-header {
    position: relative;
    z-index: 0;
    padding: 1em;
    overflow-y: visible;
    text-align: center;
  
    &-image {
      z-index: 0;
      position: relative;
      margin: auto;
      padding: 1em;
      width: 90vw;
      max-width: 300px;
      animation: floatDown $animation-speed cubic-bezier(.05,.05,.05,1);
    }
    
    h1 {
    }
    h1,h2 {
      position: relative;
      z-index: 2;
    }
  }
}



form {
  position: relative;
  input {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}

.btn-login {
  margin-top: 3em;
  width: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.forgot-pass-container {
  text-align: center;
}

.sign-up-container {
  text-align: center;
}