<div class="login-container">
  <div class="login-header">
    <img class="login-header-image icon-drawer" src="assets/images/drawer_v5.svg" alt="">
    <h1>Login</h1>
  </div>
  <div class="login-body">
    <form #form="ngForm" (ngSubmit)="onLogin()">
      <div *ngIf="warning.output" class="alert alert-danger">{{ warning.output }}</div>
      <div class="form-group">
        <input
            class="form-control"
            id="email"
            type="email"
            name="email"
            placeholder="email"
            ngModel
            required>
      </div>
      <div class="form-group">
        <input
        class="form-control"
        id="password"
        type="password"
        name="password"
        placeholder="password"
        ngModel
        required>
        <div class="forgot-pass-container">
          <a href="#">Forgot Password</a>
        </div>
      </div>
      <button class="btn btn-login btn-primary btn-bold" type="submit">LOGIN</button>
    </form>
    <div class="sign-up-container">
      <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
    </div>
  </div>
</div>