// $primary: rgb(30, 192, 165);
@import "../node_modules/bootstrap/scss/bootstrap";

@import './partials/fonts';
@import './partials/variables';
@import './partials/cards';
@import './partials/content-wrapper';
@import './partials/toasts';
@import './partials/forms';
@import './partials/dropdowns';
@import './partials/tables';
@import './partials/buttons';
@import './partials/animations';

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.theme-font {
    font-family: $font-fredoka;
}

.content-wrapper {
    max-width: 900px;
}

.btn.btn-primary {
    box-shadow: 0 3px 10px 0 #007bff42;
}

/******* QUESTION OPTIONS *******/
app-party-question-option:nth-of-type(1) .question-option, 
.response-tally:nth-of-type(1) { 
    background-color: $red;
    color: white;
    // border-color: $red;
  }
  app-party-question-option:nth-of-type(2) .question-option, 
  .response-tally:nth-of-type(2) {
    background-color: $purple;
    color: white;
  }
  app-party-question-option:nth-of-type(3) .question-option, 
  .response-tally:nth-of-type(3) {
    background-color: $green;
    color: white;
  }
  app-party-question-option:nth-of-type(4) .question-option, 
  .response-tally:nth-of-type(4) {
    background-color: $yellow;
    color: white;
  }