<div class="content-wrapper-900">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/topics">Topics</a></li>
      <li class="breadcrumb-item"><a routerLink="../../">{{ topic?.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ set?.name }}</li>
    </ol>
  </nav>
  <h2>{{ set?.name }}</h2>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <div ngbDropdown class="d-inline-block" display="dynamic" placement="bottom-left">
          <button ngbDropdownToggle class="btn btn-secondary" id="optionsDropdown">Options</button>
          <div ngbDropdownMenu aria-labelledby="optionsDropdown">
            <button ngbDropdownItem class="btn btn-secondary" routerLink="edit" type="button">
              <i class="material-icons">edit</i>
              Edit
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="btn btn-danger text-danger" type="button" (click)="openModal()">
              <i class="material-icons">delete</i>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <span class="input-group-text tag-container">
        <i class="material-icons mr-2">local_offer</i>
        <app-tag-badge
          *ngFor="let tag of set?.tags" 
          [tag]="tag.name"
        ></app-tag-badge>
        <span *ngIf="hasNoTags">
          No tags
        </span>
      </span>
    </div>
  </div>
  <div class="row row-cols-1">
    <div
      *ngFor="let attribute of topic?.setTemplate; let i = index;"
      class="col mb-3">
      <div class="card">
        <div class="card-header">
          <span class="badge badge-light">{{ i + 1 }}</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <span 
              [ngbTooltip]="[attribute.value]"
              placement="bottom"
              container="body"
                trigger="click"
                class="input-group-text text-wrap mb-1"
                >{{ attribute.value }}</span>
            </div>
            <div class="col-sm-7">
              <span class="input-group-text text-wrap">
                {{ set.attributes[i].value }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 