<div class="content-wrapper-900">
  <div class="content">
    <div class="row">
      <div class="col mt-5">
        <h3>Create a topic</h3>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <button class="btn btn-primary icon-btn-right" routerLink="/topics/new">
          Input Manually
          <i class="material-icons">create</i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <button class="btn btn-primary icon-btn-right" routerLink="/topics/import">
          Import CSV File
          <i class="material-icons">cloud_upload</i>
        </button>
      </div>
    </div>
  </div>
</div>