@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  12% {
    opacity: 1;
    transform: scale(1.2);
  }
  25% { transform: scale(0.9); }
  50% { transform: scale(1.05); }
  75% { transform: scale(0.98); }
  100% { transform: scale(1); }
}

@keyframes popInLite {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  12% {
    opacity: 1;
    transform: scale(1.05);
  }
  25% { transform: scale(0.95); }
  50% { transform: scale(1.025); }
  75% { transform: scale(0.98); }
  100% { transform: scale(1); }
}