.icon-btn {
  &-left .material-icons {
    padding-right: 0.3em;
  }
  &-right .material-icons{
    padding-left: 0.3em;
  }
}

.icon-btn, .icon-btn-left, .icon-btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.help-icon {
  cursor: pointer;
  position: relative;
  top: 0.4rem;
  margin-left: 0.4rem;
} 