.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  .material-icons.left {
    padding-right: 0.3em;
  }
  .material-icons.right {
    padding-left: 0.3em;
  }
}