@import './variables';

.card-link {
  cursor: pointer;

  &:hover {
      box-shadow: $box-shadow-md;
  }
}

.card {
  border: none;
  box-shadow: $box-shadow-xs;
  transition: box-shadow 0.3s;
}

.drag-icon:active ~ app-attribute-card .card {
  box-shadow: $box-shadow-md;
}

.card.card-add-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110px;
  background-color: $primary-card-bg;

  .material-icons {
    font-size: 32px;
  }
}