<div [ngSwitch]="partyState">
  
  <app-party-waiting-room 
    *ngSwitchCase="PartyState.WaitingRoom"
    [partyId]="partyId"
    [users]="users"
    (startParty)="startParty()">
  </app-party-waiting-room>

  <app-party-question-loading
    *ngSwitchCase="PartyState.QuestionLoading"
    [question]="test?.questions[currentQuestionIndex].name"
    [time]="5"
    (showOptions)="showOptions()">
  </app-party-question-loading>
  
  <app-party-question-options
    *ngSwitchCase="PartyState.ShowOptions"
    [question]="test?.questions[currentQuestionIndex]">
  </app-party-question-options>

  <div *ngSwitchDefault>
    <app-party-options 
      [topics]="topics" 
      (createParty)="createParty($event)">
    </app-party-options>
  </div>

</div>

<section *ngIf="showQuestionCount" id="questionCount">
  <h4>{{ currentQuestionIndex + 1 }}/{{ test?.questions.length }}</h4>
</section>
<section *ngIf="showPartyId" id="partyId">
  <div class="alert alert-primary text-center">
    <strong>studygorize.party</strong> Party Code: <strong>{{ partyId }}</strong>
  </div>
</section>