.card {
  cursor: default;
  overflow: hidden;

  .card-header {
    padding: 0 0.5rem;
  }

  .card-body {
    padding: 1em;
  }
}

.attribute-text {
  display: block;
  text-align: left;
}

.add-tag-btn {
  cursor: pointer;
  .material-icons {
    font-size: 20px;
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.3em;
}