@import '../../../partials/variables';

.help-icon {
  cursor: pointer;
  position: relative;
  top: 0.4rem;
  margin-left: 0.4rem;
} 

.add-attribute-card .card-body {
  display: flex;
  justify-content: center;
  user-select: none;
}

.back-btn {
  font-size: 20px;
}

.attribute-placeholder {
  height: 105px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border: dashed 3px lightgray;
  background-color: rgb(248, 248, 248);
  user-select: none;
}

.drag-icon {
  cursor: grab;
  user-select: none;
  position: absolute;
  z-index: 1;
  top: 1px;
  right: 1.5rem;

  &:active {
    cursor: grabbing;
  }
}

.cdk-drag-preview {
  box-shadow: $box-shadow-md;
  width: calc(initial - 30px);
  margin-left: 15px;
  padding: 0;

  .drag-icon {
    cursor: grabbing;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .attribute-card-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}