#skipBtn, #nextBtn {
  position: absolute;
  right: 1em;
  top: calc(88px + 1em);
}

#questionTxt {
  margin-right: 50px;
}

.options-container {
  display: flex;
  align-items: center;
  // height: 75vh;

  .wrapper {
    position: fixed;
    bottom: 5em;
    left: 1em;
    right: 1em;
  }
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}