<div class="content-wrapper-900">
  <h3>Upload CSV</h3>
  <div class="row">
    <div class="col mb-3">
      <div class="accordian" id="instructions">
        <div class="card">
          <div class="card-header" id="instructionsHeader">
            <h2 class="mb-0">
              <button class="btn btn-block text-left icon-btn" 
                (click)="onToggleAccordian()"
                type="button" 
                data-toggle="collapse" 
                data-target="#instructionsBody" 
                aria-expanded="true" 
                aria-controls="instructionsBody">
                <i class="material-icons" [ngClass]="{'rotate-180': isOpen, 'pr-0': isOpen}">arrow_drop_down</i>
                Instructions
              </button>
            </h2>
          </div>
          <div id="instructionsBody" class="collapse" aria-labelledby="instructionsHeader" data-parent="#instructions">
            <div class="card-body">
              <h5><strong>Make sure your CSV file is formatted correctly: </strong></h5>
              <ul>
                <li>The CSV must contain column headers</li>
                <li><strong>Name:</strong> The first column header must be called "Name." This column will become the names of each corresponding set.</li>
                <li><strong>Attributes:</strong> The rest of the column headers represent the topic attributes</li>
                <li><strong>Topic title:</strong> The title of the topic will be taken from the name of the imported file</li>
                <li><strong>Tags:</strong> Tags are optional. If you want to import tags for each set as well, add a column called "Tags." Each tag needs to be separated by a comma.</li>
              </ul>
              <p><strong>Example: </strong></p>
              <span>Drinks.csv</span><br>
              <img class="csv-example-img" src="../../../assets/csv_example.png" alt="csv example">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngIf="showAlert" class="alert alert-danger" role="alert">
        {{ alertText }}
      </div>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <input #csvInput type="file" accept=".csv" required (change)="onFileSelect()">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success icon-btn-right">
            Upload
            <i class="material-icons">cloud_upload</i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="preview-container">
    <h4>Preview</h4>
    <app-topic-table  
      *ngIf="topic !== undefined; else noPreview" 
      [topic]="topic" 
      [isPreview]="true">
    </app-topic-table>
    <ng-template #noPreview>
      Select a file to show a preview
    </ng-template>
  </div>
</div>