<div class="content-wrapper-900">
  <div class="row">
    <div class="col mb-3">
      <p>Make sure your CSV file is formatted correctly: </p>
      <ul>
        <li>The CSV must contain columns (headers)</li>
        <li>The first column must be "name" which will represent the names of the sets</li>
        <li>The rest of the columns represent the topic attributes</li>
        <li>The title of the topic will be taken from the name of the imported file</li>
      </ul>
      <p>Example: </p>
      <img class="csv-example-img" src="../../../assets/csv_example.png" alt="csv example">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <input #csvInput type="file" accept=".csv">
        </div>
        <div class="form-group">
          <button class="btn btn-outline-success icon-btn" (click)="onUpload()">
            Upload
            <i class="material-icons">cloud_upload</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>