.csv-example-img {
  max-width: 100%;
}

.rotate-180 {
  transform: rotate(180deg);
}

.material-icons {
  transition: transform 0.3s;
}

.preview-container {
  padding: 1em 0 0 0;
  margin: 1em 0 0 0;
  border-top: solid lightgray 1px;
}