<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Delete Topic</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete the topic "{{ topicTitle }}"?</strong></p>
  <p>
    Deleting this topic will delete all of its sets. 
    <span class="text-danger">This cannot be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="emitDelete()">Delete</button>
</div>